.back-condition {
  background-color: #202020;
  color: white; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  background-color: #f5f5f5; }
  header .logo {
    max-width: 5rem; }
  header .abrir-menu {
    display: none; }
  header .nav .cerrar-menu {
    display: none; }
  header .nav .nav-list {
    list-style: none;
    display: flex;
    gap: 1rem; }
    header .nav .nav-list li a {
      text-decoration: none;
      color: #1c1c1c;
      position: relative; }
      header .nav .nav-list li a::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 0;
        bottom: 0;
        left: 0;
        background-color: #cf1b1b;
        transition: all 0.3s ease; }
      header .nav .nav-list li a:hover::after {
        width: 100%; }

.hero {
  height: 1300px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg");
  background-size: 2253px 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero .hero h2 {
    color: white;
    font-size: 3vw; }
  .hero .hero h3 {
    color: white;
    font-size: 2vw; }

.programs {
  background-color: #ebebeb;
  display: flex;
  margin: 0px 0px 25px;
  align-items: center; }
  .programs .programs-container {
    text-align: center;
    align-items: center;
    justify-content: center; }
    .programs .programs-container .all-programs-container {
      align-content: center;
      justify-content: center; }
      .programs .programs-container .all-programs-container h2 {
        margin: 25px;
        padding: 25px;
        font-size: 4em; }
      .programs .programs-container .all-programs-container .img-container {
        display: flex;
        justify-content: center; }
      .programs .programs-container .all-programs-container .Img {
        width: 30%;
        margin: 50px 10px 50px 10px;
        padding: 15px;
        text-align: center;
        background-color: #f5f5f5;
        border-radius: 15px;
        color: white;
        align-self: center;
        justify-self: center; }
        .programs .programs-container .all-programs-container .Img h3 {
          color: #000; }
          .programs .programs-container .all-programs-container .Img h3 p {
            padding-top: 120px;
            align-self: flex-end; }
          .programs .programs-container .all-programs-container .Img h3 .boton {
            font-size: 1rem;
            color: #fff;
            background-color: #ac1c1c;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.9s ease;
            margin: 15px; }
            .programs .programs-container .all-programs-container .Img h3 .boton:hover {
              background-color: #cf1b1b;
              transform: scale(1.1); }
          .programs .programs-container .all-programs-container .Img h3 .Img {
            margin: 15px; }
            .programs .programs-container .all-programs-container .Img h3 .Img:first-child {
              background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_960_720.jpg"); }
            .programs .programs-container .all-programs-container .Img h3 .Img:nth-child(2) {
              background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2020/10/21/18/07/laptop-5673901_1280.jpg"); }
            .programs .programs-container .all-programs-container .Img h3 .Img:nth-child(3) {
              background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg"); }

.Parrafo h2 {
  color: black; }

.Parrafo h3 {
  color: black; }

.text-container {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .text-container .checklist {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 50px; }
    .text-container .checklist li {
      background-color: #f5f5f5;
      list-style: none;
      padding: 5px;
      border-radius: 10px;
      margin: 25px; }

.merch-text {
  text-align: center;
  align-self: center;
  font-size: 4em;
  padding: 25px;
  margin: 25px; }

.merch-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
  grid-template-rows: 0fr 1fr 1fr 1fr 0fr;
  grid-auto-columns: 2;
  gap: 6px 6px;
  grid-auto-flow: 60%;
  grid-template-areas: ". . . . ."
 ". Area1 Area1 Area2 ."
 ". Area5 Area3 Area2 ."
 ". Area5 Area4 Area4 ."
 ". . . . ."; }
  .merch-container .Area1 {
    grid-area: Area1;
    align-self: center;
    justify-self: center; }
    .merch-container .Area1 a img {
      width: 700px;
      height: 700px; }
  .merch-container .Area2 {
    grid-area: Area2;
    align-self: center;
    justify-self: center; }
    .merch-container .Area2 a img {
      height: 600px;
      width: 400px; }
  .merch-container .Area3 {
    grid-area: Area3;
    align-self: center;
    justify-self: center; }
    .merch-container .Area3 a img {
      height: 400px;
      width: 500px; }
  .merch-container .Area4 {
    grid-area: Area4;
    align-self: center;
    justify-self: center; }
    .merch-container .Area4 a img {
      height: 300px;
      width: 800px; }
  .merch-container .Area5 {
    grid-area: Area5;
    align-self: center;
    justify-self: center; }
    .merch-container .Area5 a img {
      transform: rotate(90deg); }

.grid-container {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
  grid-template-rows: 1fr 0.25fr 0fr;
  grid-auto-columns: 1fr;
  gap: 18px 18px;
  grid-auto-flow: row;
  grid-template-areas: ". Section1 Section2 Section3 ."
 ". Section4 Section4 Section4 ."
 ". . . . .";
  margin-bottom: 25px; }
  .grid-container .Section1 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section1;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px; }
    .grid-container .Section1 h2 {
      color: black; }
    .grid-container .Section1 p {
      color: black;
      font-size: 0.9rem; }
  .grid-container .Section2 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section2;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px; }
    .grid-container .Section2 h2 {
      color: black; }
    .grid-container .Section2 p {
      color: black;
      font-size: 0.9rem; }
  .grid-container .Section3 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section3;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px; }
    .grid-container .Section3 h2 {
      color: black; }
    .grid-container .Section3 p {
      color: black;
      font-size: 0.9rem; }
  .grid-container .Section4 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section4;
    text-align: center;
    align-self: center; }
    .grid-container .Section4 h2 {
      color: black; }
    .grid-container .Section4 p {
      color: black; }

.hero-two {
  height: 1300px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2015/05/15/02/07/computer-767781_1280.jpg");
  background-size: 2700px 1300px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero-two .hero-two h2 {
    color: white;
    font-size: 4em; }
  .hero-two .hero-two h3 {
    color: white; }

.title {
  text-align: center;
  margin: 70px; }

.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 2800px;
  padding: 25px; }
  .products .container {
    margin: 0px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 100%; }
    .products .container h2 {
      padding: 20px; }
    .products .container .container-text {
      display: flex;
      align-self: center;
      justify-self: center;
      padding: 20px;
      width: 100%; }
      .products .container .container-text .container-img a {
        justify-self: flex-start;
        align-self: flex-end;
        color: #ac1c1c;
        padding: 20px; }

.hero-three {
  height: 1300px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2015/06/24/16/36/office-820390_1280.jpg");
  background-size: 2700px 1300px;
  background-repeat: no-repeat;
  display: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero-three .hero-three h2 {
    color: white;
    font-size: 4em; }
    .hero-three .hero-three h2 .hero-three h3 {
      color: white; }

.about {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; }
  .about .about h2 {
    text-align: center;
    padding: 120px 25px; }
  .about .about p {
    text-align: center;
    font-size: 1.3rem;
    width: 600px; }
    .about .about p .about img {
      height: 100%;
      width: 600px;
      border-radius: 25px;
      padding: 0px 5px; }
  .about .about-text {
    display: flex;
    align-items: center;
    padding: 50px 0px 25px;
    background-color: #f3f3f3;
    border-radius: 15px;
    flex-direction: row; }
    .about .about-text .about-text p {
      flex: 1;
      padding: 0 20px; }

.hero-four {
  height: 1300px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/https://www.europarl.europa.eu/resources/library/images/20220404PHT26610/20220404PHT26610_original.jpg");
  background-size: 2700px 1300px;
  background-repeat: no-repeat;
  display: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero-four .hero-four h2 {
    color: white;
    font-size: 4em; }
    .hero-four .hero-four h2 .hero-four h3 {
      color: white; }

.title {
  margin: 50px;
  text-align: center;
  font-weight: 600;
  color: #ac1c1c; }

.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
  height: 1200px;
  background-color: #ebebeb; }
  .services .cards {
    text-align: center;
    margin: 40px 0; }
    .services .cards p {
      width: 400px; }
    .services .cards .boton {
      padding: 1rem 2rem;
      font-size: 1rem;
      color: #fff;
      background-color: #ac1c1c;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.9s ease; }

.terms {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 120px 145px; }
  .terms h2 {
    text-align: center;
    display: block;
    color: #ac1c1c; }

.slides {
  height: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 100px 0; }
  .slides .slides-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; }
    .slides .slides-container h2 {
      text-align: center; }
    .slides .slides-container .slides-text {
      margin: 40px 0;
      text-align: center;
      width: 600px; }
      .slides .slides-container .slides-text .img {
        width: 200px;
        height: 200px;
        margin: 45px 0px 25px 0px; }

.hero-five {
  height: 1300px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg");
  background-size: 2700px 1300px;
  background-repeat: no-repeat;
  display: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero-five .hero-five h2 {
    color: white;
    font-size: 4em; }
    .hero-five .hero-five h2 .hero-five h3 {
      color: white; }

.faq {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }
  .faq .qs {
    display: flex;
    flex-direction: column;
    margin: 50px; }
    .faq .qs .question {
      display: flex; }
      .faq .qs .question .question-text {
        display: flex;
        align-items: center; }
        .faq .qs .question .question-text p {
          width: 500px; }
        .faq .qs .question .question-text img {
          height: 120px;
          width: 140px; }

footer {
  background-color: #f5f5f5; }

@media screen and (max-width: 815px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer; }
    .abrir-menu.abrir-menu,
    .cerrar-menu.abrir-menu {
      color: #1c1c1c; }
    .abrir-menu.cerrar-menu,
    .cerrar-menu.cerrar-menu {
      color: #302f2f; }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); }
    .nav.visible {
      opacity: 1;
      visibility: visible; }
  .nav-list {
    flex-direction: column;
    align-items: end; }
    .nav-list li a {
      color: #000000ec; } }

@media screen and (max-width: 1200px) {
  .hero h2 {
    font-size: 2em; }
  .hero h3 {
    font-size: 1.5em; }
  .programs-container .img-container {
    flex-direction: column; }
  .Img {
    width: 80%;
    margin: 25px 15px 25px 15px; }
  .text-container .checklist {
    flex-direction: column; }
  .merch-text {
    font-size: 2em; }
  .merch-container {
    display: flex;
    flex-direction: column; }
  .Area1 img {
    width: 300px;
    height: 300px; }
  .Area2 img,
  .Area3 img {
    height: 200px;
    width: 200px; }
  .Area4 img {
    height: 200px;
    width: 400px; }
  .Area5 img {
    transform: rotate(0deg);
    width: 400px; }
  .grid-container {
    display: flex;
    flex-direction: column;
    padding: 5px; }
  .grid-container h2 {
    padding: 5px; }
  .grid-container p {
    font-size: 0.9em;
    padding: 5px; } }

@media screen and (max-width: 490px) {
  .hero {
    background-image: none; }
  .hero h2,
  .hero h3 {
    color: black; }
  .checklist {
    padding: 10px; } }

@media screen and (max-width: 920px) {
  .products {
    height: 4500px; }
  .container-text {
    flex-direction: column;
    width: 70%; } }

@media screen and (max-width: 490px) {
  .hero-two {
    background-image: none; }
  .hero-two h2 {
    color: black;
    font-size: 2em; }
  .hero-two h3 {
    color: black; }
  .container-text {
    width: 500px; } }
