@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all 1s ease;
}

h1 {
    text-align: center;
    justify-content: center;
    color: #000000;

}

.MYC {
    font-size: 1rem;
    margin: 0px;
}


img {
    width: 100%;
    display: flex;
}


a {
    text-decoration: none !important;
    color: #fff;
    font-weight: 400;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

/**! NAV  PARA LAS 3 PAGINAS**/

.nav-all {
    background-color: #f5f5f5;
    width: 100%;
    position: fixed;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-logo {
    max-width: 70px;
}

.links-del-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.enlace a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #000000;
}

/** Hover para los links, **/

.enlace a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #cf1b1b;
    transition: all 0.3s ease;
}

.enlace a:hover::after {
    width: 100%;
}

/** Custom button **/

.boton {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ac1c1c;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.9s ease;
}

.boton:hover {
    background-color: #cf1b1b;
    transform: scale(1.1);
}



/*!Seccion HERO*/

.hero{
    display: flex;
    height: 1300px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/pexels-christina-morillo-1181675.jpg");
    background-size: 2253px 1300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero h2 {
    color: white;
    font-size: 4em;
}

.hero h3 {
    color: white;
}

/**! Programas **/

.programs {
    background-color: #ebebeb;
    display: flex;
    margin: 0px 0px 25px;
    align-items: center;
}

.programs-container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.programs-container h2 {
    margin: 25px;
    padding: 25px;
    font-size: 4em;
}

.all-programs-container {
    align-content: center;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
}

.Img {
    width: 30%;
    margin: 50px 10px 50px 10px;
    padding: 15px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 15px;
    color: white;
    align-self: center;
    justify-self: center;
}

.Img p {
    padding-top: 120px;
    align-self: flex-end;
}

.Img .btn {
    margin: 15px;
}


.Img {
    background-size: cover;
}

.Img:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/repair.jpg");

}

.Img:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/desk-593327_1920.jpg");

}

.Img:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/laptop-2588862_1920.jpg");

}

.text-container {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.checklist {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 50px;
}

li {
    background-color: #f5f5f5;
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    margin: 25px;
}



/*?Galeria*/

.merch-text {
    text-align: center;
    align-self: center;
    font-size: 4em;
    padding: 25px;
    margin: 25px;
}

.merch-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
    grid-template-rows: 0fr 1fr 1fr 1fr 0fr;
    grid-auto-columns: 2;
    gap: 6px 6px;
    grid-auto-flow: 60%;
    grid-template-areas:
        ". . . . ."
        ". Area1 Area1 Area2 ."
        ". Area5 Area3 Area2 ."
        ". Area5 Area4 Area4 ."
        ". . . . .";
}

.Area1 {
    grid-area: Area1;
    align-self: center;
    justify-self: center;
}

.Area1 img {
    width: 700px;
    height: 700px;
}


.Area2 {
    grid-area: Area2;
    align-self: center;
    justify-self: center;
}

.Area2 img {
    height: 600px;
    width: 400px;
}

.Area3 {
    grid-area: Area3;
    align-self: center;
    justify-self: center;
}

.Area3 img {
    height: 400px;
    width: 500px;
}

.Area4 {
    grid-area: Area4;
    align-self: center;
    justify-self: center;
}

.Area4 img {
    height: 300px;
    width: 800px;
}


.Area5 {
    grid-area: Area5;
    align-self: center;
    justify-self: center;
}

.Area5 img {
    transform: rotate(90deg);
}

/*!Seccion con grid*/

.grid-container {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
    grid-template-rows: 1fr 0.25fr 0fr;
    grid-auto-columns: 1fr;
    gap: 18px 18px;
    grid-auto-flow: row;
    grid-template-areas:
        ". Section1 Section2 Section3 ."
        ". Section4 Section4 Section4 ."
        ". . . . .";
    margin-bottom: 25px;
}



.Section1 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section1;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
}

.Section2 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section2;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
}

.Section3 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section3;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
}

.Section4 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section4;
    text-align: center;
    align-self: center;
}

.Section1 p {
    font-size: .9rem;
}

.Section2 p {
    font-size: .9rem;
}

.Section3 p {
    font-size: .9rem;
}


/*? Imagen de wasap*/

.whatsapp-img {
    width: 50px;
}

.whatsapp img {
    width: 50px;
    position: fixed;
    bottom: 120px;
    right: 30px;
    transition: all 1s ease;
}

.whatsapp:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    nav button {
        display: none;
        padding-left: 10px;
    }

    nav .nav-logo {
        display: none;
    }


    nav {
        justify-content: center;
    }

    .hero h2 {
        font-size: 2em;
        color: black;
    }

    .hero h3 {
        font-size: 1.5em;
        color: black;
    }

    .hero {
        background-image: none;
    }

    .programs-container .img-container {
        flex-direction: column;
    }

    .Img {
        width: 80%;
        margin: 25px 15px 25px 15px;
    }

    .text-container .checklist {
        flex-direction: column;
    }

    .merch-text {
        font-size: 2em;
    }

    .merch-container {
        display: flex;
        flex-direction: column;
    }

    .Area1 img {
        width: 500px;
        height: 500px;
    }

    .Area2 img {
        height: 400px;
        width: 400px;
    }

    .Area3 img {
        height: 300px;
        width: 300px;
    }

    .Area4 img {
        height: 300px;
        width: 500px;
    }

    .Area5 img {
        transform: rotate(0deg);
        width: 500px;
    }

    .grid-container h2 {
        padding: 5px;
    }



    .grid-container p {
        font-size: 0.9em;
        padding: 5px;
    }

    .whatsapp {
        display: none;
    }
}

/**! Final pagina 1 Y empieza la segunda**/

.hero-two{
    display: flex;
    height: 1300px;
    width: 100%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/cierre-digital-dispositivo-equipo-exito.jpg");
    background-size: 2700px 1300px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-two h2{
    color: white;
    font-size: 4em;
}

.hero-two h3{
    color: white;
}