@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all 1s ease;
}

h1 {
    text-align: center;
    justify-content: center;
    color: #000000;

}

img {
    width: 100%;
}

a {
    text-decoration: none !important;
    color: #fff;
    font-weight: 400;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

/**! NAV  PARA LAS 5 PAGINAS**/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #f5f5f5;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    position: relative;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

li a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #cf1b1b;
    transition: all 0.3s ease;
}

li a:hover::after {
    width: 100%;
}

@media screen and (max-width: 815px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #302f2f;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #000000ec;
    }
}

/** Custom button **/

.boton {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ac1c1c;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.9s ease;
}

.boton:hover {
    background-color: #cf1b1b;
    transform: scale(1.1);
    
}

/*!Seccion HERO*/

.hero {
    display: flex;
    height: 1300px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_1280.jpg");
    background-size: 2600px 1300px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero h2 {
    color: white;
    font-size: 3vw;
}

.hero h3 {
    color: white;
    font-size: 2vw;
}

/**! Programas **/

.programs {
    background-color: #ebebeb;
    display: flex;
    margin: 0px 0px 25px;
    align-items: center;
}

.programs .programs-container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.programs-container h2 {
    margin: 25px;
    padding: 25px;
    font-size: 4em;
}

.all-programs-container {
    align-content: center;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
}

.Img {
    width: 30%;
    margin: 50px 10px 50px 10px;
    padding: 15px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 15px;
    color: white;
    align-self: center;
    justify-self: center;
    background-size: cover;
}

.Img p {
    padding-top: 120px;
    align-self: flex-end;
}

.Img .boton {
    margin: 15px;
}

.Img:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_960_720.jpg");

}

.Img:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2020/10/21/18/07/laptop-5673901_1280.jpg");

}

.Img:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg");

}

.text-container {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.checklist {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 50px;
}

li {
    background-color: #f5f5f5;
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    margin: 25px;
}



/*?Galeria*/

.merch-text {
    text-align: center;
    align-self: center;
    font-size: 4em;
    padding: 25px;
    margin: 25px;
}

.merch-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
    grid-template-rows: 0fr 1fr 1fr 1fr 0fr;
    grid-auto-columns: 2;
    gap: 6px 6px;
    grid-auto-flow: 60%;
    grid-template-areas:
        ". . . . ."
        ". Area1 Area1 Area2 ."
        ". Area5 Area3 Area2 ."
        ". Area5 Area4 Area4 ."
        ". . . . .";
}

.Area1 {
    grid-area: Area1;
    align-self: center;
    justify-self: center;
}

.Area1 img {
    width: 700px;
    height: 700px;
}


.Area2 {
    grid-area: Area2;
    align-self: center;
    justify-self: center;
}

.Area2 img {
    height: 600px;
    width: 600px;
}

.Area3 {
    grid-area: Area3;
    align-self: center;
    justify-self: center;
}

.Area3 img {
    height: 400px;
    width: 500px;
}

.Area4 {
    grid-area: Area4;
    align-self: center;
    justify-self: center;
}

.Area4 img {
    height: 300px;
    width: 800px;
}


.Area5 {
    grid-area: Area5;
    align-self: center;
    justify-self: center;
}

.Area5 img {
    transform: rotate(90deg);
}

/*!Seccion con grid*/

.grid-container {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
    grid-template-rows: 1fr 0.25fr 0fr;
    grid-auto-columns: 1fr;
    gap: 18px 18px;
    grid-auto-flow: row;
    grid-template-areas:
        ". Section1 Section2 Section3 ."
        ". Section4 Section4 Section4 ."
        ". . . . .";
    margin-bottom: 25px;
}



.Section1 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section1;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
}

.Section2 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section2;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
}

.Section3 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section3;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
}

.Section4 {
    background-color: #ebebeb;
    border-radius: 10px;
    grid-area: Section4;
    text-align: center;
    align-self: center;
}

.Section1 p {
    font-size: .9rem;
}

.Section2 p {
    font-size: .9rem;
}

.Section3 p {
    font-size: .9rem;
}

@media screen and (max-width: 1200px) {

    .hero h2 {
        font-size: 2em;
    }

    .hero h3 {
        font-size: 1.5em;
    }


    .programs-container .img-container {
        flex-direction: column;
    }

    .Img {
        width: 80%;
        margin: 25px 15px 25px 15px;
    }

    .text-container .checklist {
        flex-direction: column;
    }

    .merch-text {
        font-size: 2em;
    }

    .merch-container {
        display: flex;
        flex-direction: column;
    }

    .Area1 img {
        width: 300px;
        height: 300px;
    }

    .Area2 img {
        height: 200px;
        width: 200px;
    }

    .Area3 img {
        height: 200px;
        width: 200px;
    }

    .Area4 img {
        height: 200px;
        width: 400px;
    }

    .Area5 img {
        transform: rotate(0deg);
        width: 400px;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .grid-container h2 {
        padding: 5px;
    }

    .grid-container p {
        font-size: 0.9em;
        padding: 5px;
    }
}

@media  screen and (max-width: 490px){

    .hero{
        background-image: none;
        height: 1200px;
    }

    .hero h2{
        color: black;
    }

    .hero h3{
        color: black;
    }
    
    .checklist {
        padding: 10px;
    }
}

/**! Final pagina 1 Y empieza la segunda**/

.hero-two {
    display: flex;
    height: 1300px;
    width: 100%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2015/05/15/02/07/computer-767781_1280.jpg");
    background-size: 2700px 1300px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-two h2 {
    color: white;
    font-size: 4em;
}

.hero-two h3 {
    color: white;
}

/**! SECCION DE MERCANCIA**/


.products{
    height: 3800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 25px;
    background-color: #f5f5f5;
}

.products .container{
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.products .container h2{
    padding: 20px;
}

.products .container .container-text{
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 20px;
    width: 100%;
}


.products .container .container-img a{
    justify-self: flex-start;
    align-self: flex-end;
    color: #ac1c1c;
    padding: 20px;
}

@media screen and (max-width: 920px){

.products {
    height: 4500px;
}

.container-text{
    flex-direction: column;
    width: 70%;
}
}

@media screen and (max-width: 490px){

    .hero-two{
        height: 1200px;
    }

    .hero-two{
        background-image: none;
    }

    .hero-two h2{
        color: black;
        font-size: 2em;
    }

    .hero-two h3{
        color: black;
    }

    .container-text{
        width: 500px;
    }
}


/**!Tercera pagina**/

.hero-three {
    display: flex;
    height: 1300px;
    width: 100%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2015/06/24/16/36/office-820390_1280.jpg");
    background-size: 2700px 1300px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-three h2 {
    color: white;
    font-size: 4em;
}

.hero-three h3 {
    color: white;
}

.about {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.about h2 {
    text-align: center;
    padding: 120px 25px;
}

.about p {
    text-align: center;
    font-size: 1.3rem;
    width: 600px;
}

.about-text {
    display: flex;
    align-items: center;
    padding: 50px 0px 25px;
    background-color: #fcfcfc;
    border-radius: 15px;
    flex-direction: row;
}

.about img {
    height: 100%;
    width: 600px;
    border-radius: 25px;
    padding: 0px 5px;
}

.about-text p {
    flex: 1;
    padding: 0 20px;
}

@media screen and (max-width: 1300px) {

    .hero-three h2 {
        font-size: 5vw;
        color: black;
    }

    .hero-three h3 {
        font-size: 1rem;
        
        color: black;
    }


    .about-text  {
        flex-direction: column;
        width: 80%;
    }

    @media only screen and (max-width: 700px) {

        .about{
            margin-bottom: 300px;
        }
    
        .about h2 {
            font-size: 2em; 
        }
    
        .about p{
            width: 300px;
        }

        .about-text{
            flex-direction: column;
            width: 80%;
        }

        .about-text p{
            font-size: 1rem;
        }

        .about-text img{
            width: 80%;
        }
    } 
}

    @media screen and (max-width: 500px){


        .hero-three{
            background-image: none;
            height: 1200px;
        }
    }

/**!Cuarta Pagina**/

.hero-four {
    display: flex;
    height: 1200px;
    width: 100%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://www.europarl.europa.eu/resources/library/images/20220404PHT26610/20220404PHT26610_original.jpg");
    background-size: 2700px 1300px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-four h2 {
    color: white;
    font-size: 4em;
}

.hero-four h3 {
    color: white;
}

.title{
    margin: 100px;
    text-align: center;
    font-weight: 600;
    color: #ac1c1c;
}

.services {
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
    align-items: center;
    height: 1200px;
    background-color: #fcfcfc;
    flex-direction: row;
}

.cards {
    text-align: center;
    margin: 40px 0;
}

.cards p {
    width: 400px;
}

.terms{
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 120px 0px 145px 0px;
}

.terms h2{
    text-align: center;
    display: block;
    color: #ac1c1c;
}

.slides{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 100px 0;
}

.slides h2{
    text-align: start;
    padding: 0 28px;
}

.slides-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.slides .slides-text{
    margin: 40px 0;
    text-align: center;
    width: 600px;
}


.slides .img{
    width: 200px;
    height: 200px;
    margin: 45px 0px 25px 0px;
}

footer{
    background-color: #f5f5f5;
}

@media screen and (max-width: 1500px){
    .service-container{
        flex-direction: column;
    }

    .services{
        flex-direction: column;
    }

    .slides{
        flex-direction: column;
    }
}

@media screen and (max-width: 615px){
    .hero-four{
        height: 1200px;
        background-image: none
    }

    .hero-four h2{
        color: black;
        font-size: 2em
    }

    .hero-four h3{
        color: black;
    }


    .terms h2{
        font-size: 1.5em;
    }


    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        width: 100%;
    }

    .cards .parrafo {
        justify-self: center;
        align-self: center;
    }
    

    .slides{
        height: 1600px;
        width: 100%;
    }

    .slides h2{
        padding: 0px;
    }

    .slides-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p{
        width: 250px;
        text-align: center;
    }
}

/**PAG 5**/

.hero-five {
    display: flex;
    height: 1300px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg");
    background-size: 2600px 1300px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero-five h2 {
    color: white;
    font-size: 3vw;
}

.hero-five h3 {
    color: white;
    font-size: 2vw;
}

.faq{
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.qs {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.question{
    display: flex;
}


.question-text{
    display: flex;
   align-items: center;

}

.p{
    width: 500px;
}

.question-text img{
    height: 120px;
    width: 140px;
}

@media screen and (max-width: 2155px){

.faq{
    flex-direction: column;
}
}

@media screen and (max-width: 680px){

    .hero-five{
        background-image: none;
        height: 1200px;
    }

    .hero-five h2{
        color: black;
        font-size: 2em
    }

    .hero-five h3{
        color: black;
    }


    .title h2{
        font-size: 1.5em;
    }

    .question-text p {
        align-items: flex-start;
    }

    .question-text img{
        display: none;
    }

    .p{
        width: 300px;
    }
}