//!Variables

$colores: (
  rojo: #ac1c1c,
  gris: #f5f5f5,
  gris-oscuro: #ebebeb,
  negro: #000,
  semi-white: #fcfcfc,
);

@mixin flex($flex, $justify, $align, $direction) {
  display: $flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin modos($dark-mode) {
  @if $dark-mode == black {
    background-color: #202020;
    color: white;
  } @else {
    background-color: #f5f5f5;
    color: black;
  }
}

.back-condition {
  @include modos(black);
}

//!!!!NAV DE TODAS LAS PAGINAS

header {
  @include flex(flex, space-between, center, row);
  .logo {
    max-width: 5rem;
  }
  .abrir-menu {
    display: none;
  }
  .nav {
    .cerrar-menu {
      display: none;
    }
    .nav-list {
      list-style: none;
      display: flex;
      gap: 1rem;
      li a {
        text-decoration: none;
        color: #1c1c1c;
        position: relative;
      }
    }
  }
}

.hero {
  height: 1300px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/img/pexels-christina-morillo-1181675.jpg");
  background-size: 2253px 1300px;
  @include flex(flex, center, center, column);
  h2 {
    color: white;
    font-size: 3vw;
  }
  h3 {
    color: white;
    font-size: 2vw;
  }
}

.programs {
  background-color: map-get($colores, gris-oscuro);
  display: flex;
  margin: 0px 0px 25px;
  align-items: center;
  .programs-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    .all-programs-container {
      align-content: center;
      justify-content: center;
      h2 {
        margin: 25px;
        padding: 25px;
        font-size: 4em;
      }
      .img-container {
        display: flex;
        justify-content: center;
      }
      .Img {
        width: 30%;
        margin: 50px 10px 50px 10px;
        padding: 15px;
        text-align: center;
        background-color: map-get($colores, gris);
        border-radius: 15px;
        color: white;
        align-self: center;
        justify-self: center;
        h3 {
          color: map-get($colores, negro);
          p {
            padding-top: 120px;
            align-self: flex-end;
          }
          .boton {

            font-size: 1rem;
            color: #fff;
            background-color: #ac1c1c;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.9s ease;
            margin: 15px;
          }
          $background-opacity: 0.5;

          .Img {
            margin: 15px;

            &:first-child {
              background-image: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, $background-opacity),
                  rgba(0, 0, 0, $background-opacity)
                ),
                url("/img/repair.jpg");
            }

            &:nth-child(2) {
              background-image: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, $background-opacity),
                  rgba(0, 0, 0, $background-opacity)
                ),
                url("/img/desk-593327_1920.jpg");
            }

            &:nth-child(3) {
              background-image: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, $background-opacity),
                  rgba(0, 0, 0, $background-opacity)
                ),
                url("/img/laptop-2588862_1920.jpg");
            }
          }
        }
      }
    }
  }
}

.Parrafo {
  h2 {
    color: black;
  }
  h3 {
    color: black;
  }
}

.text-container {
  height: 1000px;
  @include flex(flex, center, center, row);
  .checklist {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 50px;
    li {
      background-color: map-get($colores, gris);
      list-style: none;
      padding: 5px;
      border-radius: 10px;
      margin: 25px;
    }
  }
}

.merch-text {
  text-align: center;
  align-self: center;
  font-size: 4em;
  padding: 25px;
  margin: 25px;
}

.merch-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
  grid-template-rows: 0fr 1fr 1fr 1fr 0fr;
  grid-auto-columns: 2;
  gap: 6px 6px;
  grid-auto-flow: 60%;
  grid-template-areas:
    ". . . . ."
    ". Area1 Area1 Area2 ."
    ". Area5 Area3 Area2 ."
    ". Area5 Area4 Area4 ."
    ". . . . .";
  .Area1 {
    grid-area: Area1;
    align-self: center;
    justify-self: center;
    a {
      img {
        width: 700px;
        height: 700px;
      }
    }
  }
  .Area2 {
    grid-area: Area2;
    align-self: center;
    justify-self: center;
    a {
      img {
        height: 600px;
        width: 400px;
      }
    }
  }
  .Area3 {
    grid-area: Area3;
    align-self: center;
    justify-self: center;
    a {
      img {
        height: 400px;
        width: 500px;
      }
    }
  }
  .Area4 {
    grid-area: Area4;
    align-self: center;
    justify-self: center;
    a {
      img {
        height: 300px;
        width: 800px;
      }
    }
  }
  .Area5 {
    grid-area: Area5;
    align-self: center;
    justify-self: center;
    a {
      img {
        transform: rotate(90deg);
      }
    }
  }
}

.grid-container {
  background-color: map-get($colores, gris);
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
  grid-template-rows: 1fr 0.25fr 0fr;
  grid-auto-columns: 1fr;
  gap: 18px 18px;
  grid-auto-flow: row;
  grid-template-areas:
    ". Section1 Section2 Section3 ."
    ". Section4 Section4 Section4 ."
    ". . . . .";
  margin-bottom: 25px;
  .Section1 {
    background-color: map-get($colores, gris-oscuro);
    border-radius: 10px;
    grid-area: Section1;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
    h2 {
      color: black;
    }
    p {
      color: black;
      font-size: 0.9rem;
    }
  }
  .Section2 {
    background-color: map-get($colores, gris-oscuro);
    border-radius: 10px;
    grid-area: Section2;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
    h2 {
      color: black;
    }
    p {
      color: black;
      font-size: 0.9rem;
    }
  }
  .Section3 {
    background-color: map-get($colores, gris-oscuro);
    border-radius: 10px;
    grid-area: Section3;
    text-align: center;
    align-self: center;
    margin: 15px 0px 0px 1px;
    h2 {
      color: black;
    }
    p {
      color: black;
      font-size: 0.9rem;
    }
  }
  .Section4 {
    background-color: map-get($colores, gris-oscuro);
    border-radius: 10px;
    grid-area: Section4;
    text-align: center;
    align-self: center;
    h2 {
      color: black;
    }
    p {
      color: black;
    }
  }
}

//!SEGUNDA PAGINA//

.hero-two {
  height: 1300px;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/img/cierre-digital-dispositivo-equipo-exito.jpg");
  background-size: 2700px 1300px;
  background-repeat: no-repeat;
  @include flex(flex, center, center, column);
  .hero-two h2 {
    color: white;
    font-size: 4em;
  }
  .hero-two h3 {
    color: white;
  }
}

.title {
  text-align: center;
  margin: 70px;
}

.products {
  @include flex(flex, space-around, center, column);
  height: 2800px;
  padding: 25px;
  .container {
    margin: 0px;
    padding: 10px;
    background-color: map-get($colores, gris);
    border-radius: 10px;
    width: 100%;
    h2 {
      padding: 20px;
    }
    .container-text {
      display: flex;
      align-self: center;
      justify-self: center;
      padding: 20px;
      width: 100%;
      .container-img a {
        justify-self: flex-start;
        align-self: flex-end;
        color: map-get($colores, rojo);
        padding: 20px;
      }
    }
  }
}

//!TERCERA PAGINA

.hero-three {
  height: 1300px;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/img/cierre-digital-dispositivo-equipo-exito.jpg");
  background-size: 2700px 1300px;
  background-repeat: no-repeat;
  @include flex(center, center, center, column);
  .hero-three h2 {
    color: white;
    font-size: 4em;
    .hero-three h3 {
      color: white;
    }
  }
}

.about {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  .about h2 {
    text-align: center;
    padding: 120px 25px;
  }
  .about p {
    text-align: center;
    font-size: 1.3rem;
    width: 600px;
    .about img {
      height: 100%;
      width: 600px;
      border-radius: 25px;
      padding: 0px 5px;
    }
  }
  .about-text {
    display: flex;
    align-items: center;
    padding: 50px 0px 25px;
    background-color: #f3f3f3;
    border-radius: 15px;
    flex-direction: row;
    .about-text p {
      flex: 1;
      padding: 0 20px;
    }
  }
}

//!CUARTA PAGINA

.hero-four {
  height: 1300px;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/https://www.europarl.europa.eu/resources/library/images/20220404PHT26610/20220404PHT26610_original.jpg");
  background-size: 2700px 1300px;
  background-repeat: no-repeat;
  @include flex(center, center, center, column);
  .hero-four h2 {
    color: white;
    font-size: 4em;
    .hero-four h3 {
      color: white;
    }
  }
}

.title {
  margin: 50px;
  text-align: center;
  font-weight: 600;
  color: map-get($colores, rojo);
}

.services {
  @include flex(flex, space-around, center, row);
  margin: 10px 0;
  height: 1200px;
  background-color: map-get($colores, gris-oscuro);
  .cards {
    text-align: center;
    margin: 40px 0;
    p {
      width: 400px;
    }
    .boton {
      padding: 1rem 2rem;
      font-size: 1rem;
      color: #fff;
      background-color: #ac1c1c;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.9s ease;
    }
  }
}

.terms{
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 120px 145px;
  h2{
    text-align: center;
    display: block;
    color: map-get($colores, rojo );
  }
}

.slides{
  height: 1200px;
  @include flex(flex, space-around, center, row);
  margin: 100px 0;
  .slides-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    h2{
      text-align: center;
    }
    .slides-text{
      margin: 40px 0;
      text-align: center;
      width: 600px;
      .img{
        width: 200px;
        height: 200px;
        margin: 45px 0px 25px 0px;
      }
    }
  }
}

footer {
  background-color: map-get($colores, gris);
}
